<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/additional-methods.min.js"></script>
    <script src="/js/jquery.simplecolorpicker.js"></script>

    <link rel="stylesheet" href="/css/jquery.simplecolorpicker.css">

    <link rel="stylesheet" type="text/css" href="/css/cmxformTemplate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cmxformmine.css"/>
    <title>Easy Retro Board: Create a Board</title>



    <script>
        $.validator.setDefaults({
        });

        $().ready(function () {
            // validate signup form on keyup and submit
            $("#boardCreateForm").validate({
                rules: {

                    name: {
                        required: true,
                        minlength: 4
                    }
                },
                messages: {

                    name: "Please enter a board name of at least 4 characters"

                }
            });
        });


        $(document).ready(function() {
            <% for (var sectionNum = 1; sectionNum <= 4; sectionNum++) {%>
            $('select[name="color-<%= sectionNum%>"]').simplecolorpicker({picker: true, theme: 'glyphicons'});
            <% } %>
        });
        </script>


</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
    <div class="row" style="padding-top: 30px;">

        <div class="col-md-6 col-sm-offset-2 col-md-offset-3" style="background-color: cornsilk; border-radius: 6px;">

            <form class="cmxform form-inline form-horizontal" id="boardCreateForm" action="/board-create" method="post"
                  style="padding-top: 30px">
                <% if (error_message.length > 0) { %>
                <div class="alert alert-danger"><%= error_message %></div>
                <% } %>
                <% if (message.length > 0) { %>
                <div class="alert alert-success"><%= message %></div>
                <% } %>
                <fieldset>
                    <legend>Create a New Board</legend>

                    <p>
                        <label for="name" style="width: 100px;">Name</label>
                        <input id="name" name="name" type="name" class="form-control input-sm" style="width: 300px;"
                        value = "<%= board.name%>">
                    </p>
                    <p>
                        <div style="font-size: 14px; font-weight: bold; margin-bottom: 10px;">Enter section names and colors</div>

                    <% for (var sectionNum = 1; sectionNum <= 4; sectionNum++) {
                        var section = board.sections[sectionNum - 1]%>

                    <div style="margin-bottom: 10px;">
                        <label for="section-<%= sectionNum %>" style="width: 100px;">Section <%= sectionNum %></label>
                        <input id="section-<%= sectionNum %>" name="section-<%= sectionNum %>" type="name" class="form-control input-sm" style="width: 200px;"
                               value = "<%= section.name%>">
                        <label for="color-<%= sectionNum %>" style="width:75px; padding-left:10px;">Color <%= sectionNum %></label>
                        <span style="border: 1px solid #cccccc; padding-top: 3px; padding-bottom: 3px; border-radius: 2px;">
                        <select name="color-<%= sectionNum %>">
                            <% for (var i = 0; i < colors.length; i++) {%>
                            <% if (colors[i].name === section.color) {%>
                            <option value="<%= colors[i].name%>" selected><%= colors[i].name%></option>
                            <% } else { %>
                            <option value="<%= colors[i].name%>"><%= colors[i].name%></option>
                            <% }%>
                            <%} %>
                        </select>
                        </span>
                    </div>
                    <%}%>

                    </p>

                    <hr style="background-color: #532F8C">
                    <div class="row">

                        <div class="col-xs-12 col-md-6"><input type="submit" value="Create Board"
                                                               class="btn btn-primary btn-block btn-lg"
                                                               tabindex="7">
                        </div>

                    </div>
                </fieldset>

            </form>
        </div>
    </div>


</div>

</body>
</html>