<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/additional-methods.min.js"></script>
    <title>Easy Retro Board: Your Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/cmxformTemplate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cmxformmine.css"/>


    <script>
        $.validator.setDefaults({
        });

        function passwordRequired() {
            return $('#password').val().length > 0 || $('#confirm_password').val().length > 0;
        }

        $().ready(function () {

            // validate signup form on keyup and submit
            $("#profileForm").validate({
                rules: {
                    firstname: {
                        required: true,
                        minlength: 2
                    },
                    lastname: {
                        required: true,
                        minlength: 2
                    },
                    username: {
                        required: true,
                        minlength: 6
                    },
                    password: {
                        required: passwordRequired,
                        minlength: {
                            param: 8,
                            depends: passwordRequired
                        }
                    },
                    confirm_password: {
                        required: passwordRequired,
                        minlength: {
                            param: 8,
                            depends: passwordRequired
                        },
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    agree: "required"
                },
                messages: {
                    firstname: "Please enter your firstname",
                    lastname: "Please enter your lastname",
                    username: {
                        required: "Please enter a username",
                        minlength: "Your username must consist of at least 6 characters"
                    },
                    password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 8 characters long"
                    },
                    confirm_password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 8 characters long",
                        equalTo: "Please enter the same password as above"
                    },
                    email: "Please enter a valid email address"
                }
            });
        });
    </script>


</head>
<body style="background-color: #d9ccee">
<% include ../partials/nav.ejs %>
<div class="container">
    <div class="row" style="padding-top: 30px;">

        <div class="col-md-6 col-sm-offset-2 col-md-offset-3" style="background-color: cornsilk; border-radius: 6px;">

            <form class="cmxform form-inline form-horizontal" id="profileForm" action="/profile" method="post"
                  style="padding-top: 30px">
                <% if (message.length > 0) { %>
                <div class="alert alert-success"><%= message %></div>
                <% } %>
                <% if (error_message.length > 0) { %>
                <div class="alert alert-danger"><%= error_message %></div>
                <% } %>

                <% if (error_firstname.length > 0) { %>
                <div class="alert alert-danger"><%= error_firstname %></div>
                <% } %>

                <% if (error_lastname.length > 0) { %>
                <div class="alert alert-danger"><%= error_lastname %></div>
                <% } %>

                <% if (error_username.length > 0) { %>
                <div class="alert alert-danger"><%= error_username %></div>
                <% } %>

                <% if (error_email.length > 0) { %>
                <div class="alert alert-danger"><%= error_email %></div>
                <% } %>

                <% if (error_password.length > 0) { %>
                <div class="alert alert-danger"><%= error_password %></div>
                <% } %>

                <fieldset>
                    <legend>Your Profile</legend>
                    <input id="id" name="id" type="hidden" value="<%= id %>">
                    <p>
                        <label for="firstname">First name</label>
                        <input id="firstname" name="firstname" type="text" class="form-control input-sm"
                               style="width: 300px;" value="<%= firstname %>">
                    </p>

                    <p>
                        <label for=" lastname">Last name</label>
                        <input id="lastname" name="lastname" type="text" class="form-control input-sm"
                               style="width: 300px;"  value="<%= lastname %>">
                    </p>
                    <p>
                        <label for="username">User name</label>
                        <input id="username" name="username" type="text" class="form-control input-sm"
                               style="width: 300px;"  value="<%= username %>">
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" class="form-control input-sm" style="width: 300px;"
                               value="<%= email %>">
                    </p>
                    <hr style="background-color: #532F8C">
                    <p>
                        <span style="font-style: italic">Fill in the following only if you want to change your current password.</span>
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" class="form-control input-sm"
                               style="width: 300px;"  >
                    </p>
                    <p>
                        <label for="confirm_password">Confirm password</label>
                        <input id="confirm_password" name="confirm_password" type="password"
                               class="form-control input-sm" style="width: 300px;">
                    </p>

                    <hr style="background-color: #532F8C">
                    <div class="row">

                        <div class="col-xs-12 col-md-6"><input type="submit" value="Save changes"
                                                               class="btn btn-primary btn-block btn-lg"
                                                               tabindex="7">
                        </div>

                    </div>

                </fieldset>

            </form>
        </div>
    </div>
</div>

</body>
</html>