<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/additional-methods.min.js"></script>

    <title>Easy Retro Board: Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/cmxformTemplate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/cmxformmine.css"/>


    <script>
        $.validator.setDefaults({
        });

        $().ready(function () {

            // validate signup form on keyup and submit
            $("#signupForm").validate({
                rules: {
                    firstname: "required",
                    lastname: "required",
                    username: {
                        required: true,
                        minlength: 6
                    },
                    password: {
                        required: true,
                        minlength: 8
                    },
                    confirm_password: {
                        required: true,
                        minlength: 8,
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    agree: "required"
                },
                messages: {
                    firstname: "Please enter your firstname",
                    lastname: "Please enter your lastname",
                    username: {
                        required: "Please enter a username",
                        minlength: "Your username must consist of at least 6 characters"
                    },
                    password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 8 characters long"
                    },
                    confirm_password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 8 characters long",
                        equalTo: "Please enter the same password as above"
                    },
                    email: "Please enter a valid email address",
                }
            });


        });
    </script>

</head>
<body style="background-color: #d9ccee">
<% include ../partials/nav.ejs %>
<div class="container">

    <div class="row" style="padding-top: 30px;">

        <div class="col-md-6 col-sm-offset-2 col-md-offset-3" style="background-color: cornsilk; border-radius: 6px;">

            <form class="cmxform form-inline form-horizontal" id="signupForm" action="/signup" method="post"
                  style="padding-top: 30px">
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <fieldset>
                    <legend>Please sign up</legend>
                    <p>
                        <label for="firstname">First name</label>
                        <input id="firstname" name="firstname" type="text" class="form-control input-sm"
                               style="width: 300px;" value="<%= firstname %>">
                    </p>

                    <p>
                        <label for=" lastname">Last name</label>
                        <input id="lastname" name="lastname" type="text" class="form-control input-sm"
                               style="width: 300px;"  value="<%= lastname %>">
                    </p>
                    <p>
                        <label for="username">User name</label>
                        <input id="username" name="username" type="text" class="form-control input-sm"
                               style="width: 300px;"  value="<%= username %>">
                    </p>
                    <p>
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" class="form-control input-sm" style="width: 300px;"
                               value="<%= email %>">
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" class="form-control input-sm"
                               style="width: 300px;"  >
                    </p>
                    <p>
                        <label for="confirm_password">Confirm password</label>
                        <input id="confirm_password" name="confirm_password" type="password"
                               class="form-control input-sm" style="width: 300px;">
                    </p>
                    <hr style="background-color: #532F8C">
                    <div class="row">

                        <div class="col-xs-12 col-md-6"><input type="submit" value="Register"
                                                               class="btn btn-primary btn-block btn-lg"
                                                               tabindex="7">
                        </div>

                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-xs-12 col-md-6">Already have an account?&nbsp;&nbsp;<a href="/login">Sign
                                In</a>
                        </div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>

</body>
</html>